<mat-form-field class="select-field" appearance="outline" subscriptSizing="dynamic">
  @if (showSortIcon()) {
    <i matPrefix class="fa-solid fa-arrow-down-wide-short select-sort-icon" aria-hidden="true"></i>
  }
  <mat-select [placeholder]="placeholder()" panelClass="select-panel"
    [aria-label]="ariaLabel()" [value]="value()" [disabled]="disabled()"
    (selectionChange)="selectValue($event.value)" (blur)="onTouched()">
    @for (option of options(); track option) {
    <mat-option [value]="option.value">
      <span class="select-option">
        {{option.text}}
      </span>
    </mat-option>
    }
  </mat-select>
</mat-form-field>
