@if (task(); as task) {
<article class="task-item" [class.task-item--completed]="task.completed">
  <label class="task-item__checkbox-wrapper" [attr.for]="'task-' + task.id">
    <input [id]="'task-' + task.id" class="task-item__checkbox" type="checkbox" [checked]="task.completed">

    <span class="task-item__checkbox-icon" aria-hidden="true">
      @if (task.completed) {
      <i class="fa-solid fa-check"></i>
      }
    </span>
  </label>

  <div class="task-item__content">
    <p class="task-item__title">
      {{ task.todo }}
    </p>
  </div>
  
  <span class="task-item__priority" [class]="priorityMetadata().className">
    {{priorityMetadata().text}}
  </span>

  <div class="task-item__actions">
    <button type="button" class="task-item__action" aria-label="Edit task">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>

    <button type="button" class="task-item__action" aria-label="Delete task">
      <i class="fa-regular fa-trash-can"></i>
    </button>

    <button type="button" class="task-item__action" aria-label="More actions">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
  </div>
</article>
}